body {
    background-color: rgb(39,40,45);
    color: white;
    margin: 0px;
}

.hexagram-container {
    margin: 0px;
}
.hexagram {
    margin: 0px auto;
    display: block;
    max-width: 200px;
    /* Figure out size thing: */
    height: 120px; 
}
.hexagram .line {
    stroke: white;
}

.hexagram .line-old {
    stroke: rgb(233,46,60)
}
.question {
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}
.entry {
    flex: 1;
    font-family: 'Open Sans', sans-serif; 
    background-color: black;
    max-width: 640px;
    margin: 12px;
}
.entry-top {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#565c67+0,15191f+100 */
    background: rgb(86,92,103); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(86,92,103,1) 0%, rgba(21,25,31,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(86,92,103,1) 0%,rgba(21,25,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(86,92,103,1) 0%,rgba(21,25,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.entry-text-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.entry-text {
    font-size: 14px;
    line-height: 24px;
    padding: 35px;
    font-weight: 400;
    letter-spacing: 0;
}

.divider {
    height: 1px;
    background-color: rgb(39, 40, 45);
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}

.hexagram-names {
    padding-bottom: 17.5px;
}

.hexagram-name {
    line-height: 30px;
    text-align: center;
}

.hexagram-name-chinese {
    font-size: 20px;
    font-weight: bold;
}

.hexagram-name-english {
    font-size: 26px;
    font-weight: 300;
}

.changing {
    color: rgb(233,46,60);
}


.dialog-backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

.roll-dialog {
    background-color: black;
    color: white;
    margin: 0px auto;
    height: 300px;
    text-align: center;
    width: 400px;
}

.roll-dialog label {
    color: white;
}

.dice-btn {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.main-fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.left-grid {
    padding-right: 0px !important
}
.right-grid {
    padding-left: 0px !important
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    margin: 0;
}
